.App {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.wrapper {
  margin-top: 10rem;
  max-width: 1250px;
  width: 100%;
  min-height: calc(100vh - 10rem);
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* 스크롤바를 없앰 */
::-webkit-scrollbar {
  display: none;
}

@media screen and (max-width: 768px) {
  .wrapper {
    margin-top: 7rem;
  }
}
