body {
    width: 100vw;
    height: 100vh;
}

.App{
    height: 100vh;
}


.Wrapper { 
    width: 100%;
    max-width: 1250px;
    min-height: 100%;
    margin: 174px auto;
     display: flex;
    justify-content: center; 
}